* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: black;
  }

  .filter-btns {
    width: 100%;
    height: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btns {
    width: 150px;
    height: 60px;
    padding: 20px;
    margin: 20px;

    border-image: linear-gradient(45deg, rgb(65, 81, 205), rgb(248, 85, 199))
      1;
    background: #000;
    color: white;
    font-size: 1rem;
  }
  .main-box {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .cards {
    width: 90%;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    margin-left: 200px;
  }
  .boxes {
    width: 200px;
    height: 250px;
    border-radius: 12px;
    margin: 40px;
    box-shadow: rgb(18, 18, 18) 0px 3px 8px;
  }
  img {
    width: 250px;
    height: 250px;
    border-radius: 12px;
    box-shadow: rgba(5, 5, 5, 0.92) 0px 3px 8px;
  }

  @media (min-width: 700px) and (max-width: 1100px) {
    .filter-btns {
      width: 100%;
      height: 200px;

      display: flex;
      justify-content: center;
      align-items: center;
    }
    .cards {
      width: 90%;
      height: 800px;
      display: grid;
      grid-template-columns: repeat(2, 45%);
      padding: 20px;
      margin-left: -10px;
    }

    .boxes {
      width: 200px;
      height: 250px;
      border-radius: 12px;
      margin: 60px;
      box-shadow: rgb(18, 18, 18) 0px 3px 8px;
    }
    img {
      width: 200px;
      height: 250px;
      border-radius: 12px;
      box-shadow: rgba(5, 5, 5, 0.92) 0px 3px 8px;
    }
  }

  @media (min-width: 200px) and (max-width: 700px) {
    .filter-btns {
      width: 100%;
      height: 200px;

      display: flex;
      justify-content: center;
      align-items: center;
    }
    .cards {
      width: 90%;
      height: 800px;
      display: grid;
      grid-template-columns: repeat(2, 45%);
      gap: 20px;
      padding: 20px;
      margin-left: -100px;
    }

    .boxes {
      width: 120px;
      height: 150px;
      border-radius: 12px;
      margin: 60px;
      box-shadow: rgb(18, 18, 18) 0px 3px 8px;
    }
    img {
      width: 120px;
      height: 150px;
      border-radius: 12px;
      box-shadow: rgba(5, 5, 5, 0.92) 0px 3px 8px;
    }
  }