@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Zen Dots", cursive;
}

html {
  --bg: #d1e8a8;
  --sec_bg: #fff;
  --color: #000;
  --hover_color: #e7e7e7;
}

body[data-theme="dark"] {
  --bg: #0e0e0e;
  --sec_bg: #222222;
  --color: #fff;
  --hover_color: #424242;
}

body {
  background: var(--bg);
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 350px;
}

.header {
  width: 100%;
  height: 60px;
  background: #1b1a17;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
}

.switchBox {
  margin-left: 20px;
  width: 60px;
  height: 25px;
  background: #d8d8d8;
  border-radius: 20px;
  position: relative;
}

.switchBox input {
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  -webkit-appearance: none;
}

.switchBox .box {
  position: absolute;
  top: 10%;
  left: 4px;
  width: 20px;
  height: 80%;
  background: #6d6d6d;
  border-radius: 20px;
  transition: all 0.4s;
}

.switchBox input:checked ~ .box {
  left: 60%;
  background: #ff8303;
}

.input {
  width: 100%;
  height: 60px;
  background: #fff;
}

input {
  cursor: pointer;
}

.input #display {
  width: 74%;
  height: 60px;
  border: none;
  outline: none;
  font-size: 1.5rem;
  padding-left: 10px;
}

.cancle_btn {
  width: 24%;
  height: 60px;
  border: none;
  background: #ff8303;
  font-size: 1.5rem;
  color: white;
}

.row {
  width: 100%;
  margin: 10px 0;
}

.row input {
  width: 23.6%;
  height: 60px;
  background: var(--sec_bg);
  color: var(--color);
  border: 1px solid rgba(0, 0, 0, 0.137);
  font-size: 1.5rem;
}

.active {
  animation: animation 0.4s;
}

@keyframes animation {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
    background: var(--hover_color);
  }
}
