body {
  font-family: monospace, sans-serif;
  /* background: linear-gradient(to right bottom, orange, yellow); */
  background: salmon;
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px;
  border-radius: 7px;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.1);
  max-width: 450px;
  text-align: center;
  font-size: 18px;
  font-weight: 550;
}

input {
  height: 53px;
  width: 75%;
  background-color: rgba(255, 255, 255, 0.6);
  border-color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  padding: 0 42px;
  border-radius: 5px;
}

.meaning-container {
  display: none;
}
