body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  background-color: #ebe6e6;
}

.container {
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 5px;
  padding: 20px;
}

/* Form */

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

form input[type="text"] {
  padding: 10px;
  border: none;
  border: 1px solid #e6e2e2;
  outline: none;
  font-size: 18px;
  width: 60%;
  border-radius: 5px;
}
form input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
}
form input[type="submit"]:hover {
  background-color: #0062cc;
}

/* Image */

.icon img {
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.temperature {
  font-size: 48px;
  font-weight: bold;
  margin: 20px 0px;
}

.description {
  font-size: 24px;
  margin-bottom: 20px;
}

.details {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.details > div {
  padding: 20px;
  background-color: #f1f1f1;
  margin: 10px;
  flex: 1;
  border-radius: 5px;
  text-align: center;
}

@media (max-width: 768px) {
  form {
    flex-direction: column;
  }
  form input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
  }
}
