@import 'bootstrap-icons/font/bootstrap-icons.css';
.navbar{
    
}

.icon img{
    background-color: black;
    width: 40px;
    height: 40px;
}

.links i{
    cursor: pointer;
}

.links img{
    back: black;
    width: 40px;
    height: 40px
}