.container{
    margin-right: 10px;
    margin-top: 20px;
    display: inline-flex;
    justify-content: space-around;
    gap: 2rem;
    flex:row;
    cursor: pointer;
    border-radius: 30px;
    

}
.container:hover{
    box-shadow: 4px 4px 20px black;
}
.box{
    border: 1px solid grey;
    border-radius: 30px;
    overflow: hidden;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
img{
    height: 15rem;
    width:100%;
}
.id{
    font-size: 2rem;
    color: blue;
    text-shadow: 2px solid pink;
}
#profileHeading{
    text-align: center;
    text-shadow: 3px red ;
    font-size: 3rem;
}
.price{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bolder;
}

.add{
    text-align: center;
    align-items: center;
   
}
.description{
    font-size: 1.3rem;
    font-weight: 100;
    width: 22rem;
}
.remove{
    font-size: x-large;
    border: 2px solid green;
    border-radius: 10px 10px 20px;
    color: burlywood;
    background-color: brown;
    cursor: pointer;
}
.remove:hover{
    background-color: whitesmoke;
    color: black;
}
.add{
    font-size: x-large;
    border: 2px solid yellow;
    border-radius: 10px 10px 20px;
    color: burlywood;
    background-color: green;
    cursor: pointer;
}
.add:hover{
    background-color: whitesmoke;
    color: black;
}

button{
    padding: 10px;
    margin: 5px;
    background-color: black;
    border-radius: 30px;
}
button:hover{
    box-shadow: 4px 4px 20px black;
}
button a{
    text-decoration: none;
    color: gold;
}